Source: python3-pcbnewtransition
Section: Python
Priority: optional
Maintainer: Salvador E. Tropea <salvador@inti.gob.ar>
Build-Depends: debhelper-compat (= 12), dh-python, python3-all
Standards-Version: 4.5.0
Homepage: <https://github.com/yaqwsx/pcbnewTransition>
X-Python3-Version: >= 3.2

Package: python3-pcbnewtransition
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends}, ${python3:Depends}
Description: KiCad 5/6/7/8 pcbnew API compatibility layer
 A very simple layer to provide KiCad 5/6/7 compatibility using the
 KiCad 8 API.
